# banco
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv/
venv/
env/
ENV/
.env/

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo
*.swap

# Chaves e credenciais
*.pem
*.key
*.pub

# Logs
*.log
*.log*

# Arquivos temporários/testes
teste*.py
*.tmp
*.bak

# Arquivos de compactação
*.zip
*.tar.gz
*.rar

# Arquivos de sistema (Windows / Linux / Mac)
Thumbs.db
.DS_Store
